* * * 

<div align="Right">
  ©    Josefin Axberg 2017<br>
 </div>

# Final Project: Discovering the Enron Fraud

## Introduction

In 2000, Enron was one of the largest companies in the United States. By 2002, it had collapsed into bankruptcy due to widespread corporate fraud. In the resulting Federal investigation, there was a significant amount of typically confidential information entered into public record, including tens of thousands of emails and detailed financial data for top executives. In this project, I will play detective, and put my new skills to use by building a person of interest identifier based on financial and email data made public as a result of the Enron scandal. I use email and financial data for 146 executives at Enron to identify persons of interest in the fraud case. A person of interest (POI) is someone who was indicted for fraud, settled with the government, or testified in exchange for immunity. This report documents the machine learning techniques used in building a POI identifier.
There are four major steps in my project:
1. **Explore data**
2. **Feature engineering**
3. **Classifiers**
4. **Validation**

![](enron.jpg)

In [1]:
import time
print("Today is %s" % time.strftime("%Y-%m-%d"))

Today is 2017-10-12

In [2]:
#!/usr/bin/python

import os
import pickle
import re
import sys
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

sys.path.append("../tools/")

from feature_format import featureFormat, targetFeatureSplit

# Features_list is a list of strings, each of which is a feature name.
# The first feature must be "poi".
features_list = ['poi']

Let me start with the loading of the data and see how it is structured.

In [3]:
# Load the dictionary containing the dataset
with open("final_project_dataset.pkl", "r") as data_file:
    data_dict = pickle.load(data_file)

my_dataset = data_dict
df_enron = pd.DataFrame(my_dataset) # Load pickle data to DataFrame for feature enginering etc
df_enron = df_enron.T               # Setting names as indexes and features as columns


df_enron.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,...,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,...,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

In [4]:
df_enron.describe()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
count,146,146,146,146,146,146,146,146,146,146,...,146,146,146,146,146,146,146,146,146,146
unique,42,40,45,18,112,102,95,65,58,42,...,53,93,2,98,19,95,84,87,126,125
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,64,107,97,129,35,44,51,60,60,60,...,80,53,128,36,128,51,60,60,21,20

In [5]:
df_enron.shape

(146, 21)

In [7]:
print "There are ", len(data_dict.keys()), " executives in Enron Dataset."

There are  146  executives in Enron Dataset.

In [8]:
print data_dict.keys()

['METTS MARK', 'BAXTER JOHN C', 'ELLIOTT STEVEN', 'CORDES WILLIAM R', 'HANNON KEVIN P', 'MORDAUNT KRISTINA M', 'MEYER ROCKFORD G', 'MCMAHON JEFFREY', 'HORTON STANLEY C', 'PIPER GREGORY F', 'HUMPHREY GENE E', 'UMANOFF ADAM S', 'BLACHMAN JEREMY M', 'SUNDE MARTIN', 'GIBBS DANA R', 'LOWRY CHARLES P', 'COLWELL WESLEY', 'MULLER MARK S', 'JACKSON CHARLENE R', 'WESTFAHL RICHARD K', 'WALTERS GARETH W', 'WALLS JR ROBERT H', 'KITCHEN LOUISE', 'CHAN RONNIE', 'BELFER ROBERT', 'SHANKMAN JEFFREY A', 'WODRASKA JOHN', 'BERGSIEKER RICHARD P', 'URQUHART JOHN A', 'BIBI PHILIPPE A', 'RIEKER PAULA H', 'WHALEY DAVID A', 'BECK SALLY W', 'HAUG DAVID L', 'ECHOLS JOHN B', 'MENDELSOHN JOHN', 'HICKERSON GARY J', 'CLINE KENNETH W', 'LEWIS RICHARD', 'HAYES ROBERT E', 'MCCARTY DANNY J', 'KOPPER MICHAEL J', 'LEFF DANIEL P', 'LAVORATO JOHN J', 'BERBERIAN DAVID', 'DETMERING TIMOTHY J', 'WAKEHAM JOHN', 'POWERS WILLIAM', 'GOLD JOSEPH', 'BANNANTINE JAMES M', 'DUNCAN JOHN H', 'SHAPIRO RICHARD S', 'SHERRIFF JOHN R', 'SHELBY REX', 'LEMAISTRE CHARLES', 'DEFFNER JOSEPH M', 'KISHKILL JOSEPH G', 'WHALLEY LAWRENCE G', 'MCCONNELL MICHAEL S', 'PIRO JIM', 'DELAINEY DAVID W', 'SULLIVAN-SHAKLOVITZ COLLEEN', 'WROBEL BRUCE', 'LINDHOLM TOD A', 'MEYER JEROME J', 'LAY KENNETH L', 'BUTTS ROBERT H', 'OLSON CINDY K', 'MCDONALD REBECCA', 'CUMBERLAND MICHAEL S', 'GAHN ROBERT S', 'MCCLELLAN GEORGE', 'HERMANN ROBERT J', 'SCRIMSHAW MATTHEW', 'GATHMANN WILLIAM D', 'HAEDICKE MARK E', 'BOWEN JR RAYMOND M', 'GILLIS JOHN', 'FITZGERALD JAY L', 'MORAN MICHAEL P', 'REDMOND BRIAN L', 'BAZELIDES PHILIP J', 'BELDEN TIMOTHY N', 'DURAN WILLIAM D', 'THORN TERENCE H', 'FASTOW ANDREW S', 'FOY JOE', 'CALGER CHRISTOPHER F', 'RICE KENNETH D', 'KAMINSKI WINCENTY J', 'LOCKHART EUGENE E', 'COX DAVID', 'OVERDYKE JR JERE C', 'PEREIRA PAULO V. FERRAZ', 'STABLER FRANK', 'SKILLING JEFFREY K', 'BLAKE JR. NORMAN P', 'SHERRICK JEFFREY B', 'PRENTICE JAMES', 'GRAY RODNEY', 'PICKERING MARK R', 'THE TRAVEL AGENCY IN THE PARK', 'NOLES JAMES L', 'KEAN STEVEN J', 'TOTAL', 'FOWLER PEGGY', 'WASAFF GEORGE', 'WHITE JR THOMAS E', 'CHRISTODOULOU DIOMEDES', 'ALLEN PHILLIP K', 'SHARP VICTORIA T', 'JAEDICKE ROBERT', 'WINOKUR JR. HERBERT S', 'BROWN MICHAEL', 'BADUM JAMES P', 'HUGHES JAMES A', 'REYNOLDS LAWRENCE', 'DIMICHELE RICHARD G', 'BHATNAGAR SANJAY', 'CARTER REBECCA C', 'BUCHANAN HAROLD G', 'YEAP SOON', 'MURRAY JULIA H', 'GARLAND C KEVIN', 'DODSON KEITH', 'YEAGER F SCOTT', 'HIRKO JOSEPH', 'DIETRICH JANET R', 'DERRICK JR. JAMES V', 'FREVERT MARK A', 'PAI LOU L', 'BAY FRANKLIN R', 'HAYSLETT RODERICK J', 'FUGH JOHN L', 'FALLON JAMES B', 'KOENIG MARK E', 'SAVAGE FRANK', 'IZZO LAWRENCE L', 'TILNEY ELIZABETH A', 'MARTIN AMANDA K', 'BUY RICHARD B', 'GRAMM WENDY L', 'CAUSEY RICHARD A', 'TAYLOR MITCHELL S', 'DONAHUE JR JEFFREY M', 'GLISAN JR BEN F']

# Explore Data

First I would like to visually look at the data and check if it contains any NaN values and/or outliers.

In [10]:
df_enron = df_enron.replace('NaN', np.nan)

In [11]:
print "Amount of NaN values in the dataset: ", df_enron.isnull().sum().sum()


df_enron.loc[(df_enron['email_address'].isnull()) |
              (df_enron['deferral_payments'].isnull()) |
              (df_enron['bonus'].isnull()) |
              (df_enron['from_messages'].isnull())]

Amount of NaN values in the dataset:  1358

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
BADUM JAMES P,NaN,178980.0,NaN,NaN,NaN,257817.0,3486.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466.0,257817.0
BANNANTINE JAMES M,NaN,NaN,-5104.0,NaN,james.bannantine@enron.com,4046157.0,56301.0,29.0,39.0,0.0,...,NaN,864523.0,False,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0
BAXTER JOHN C,1200000.0,1295738.0,-1386055.0,NaN,NaN,6680544.0,11200.0,NaN,NaN,NaN,...,1586055.0,2660303.0,False,3942714.0,NaN,267102.0,NaN,NaN,5634343.0,10623258.0
BAY FRANKLIN R,400000.0,260455.0,-201641.0,NaN,frank.bay@enron.com,NaN,129142.0,NaN,NaN,NaN,...,NaN,69.0,False,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0
BAZELIDES PHILIP J,NaN,684694.0,NaN,NaN,NaN,1599641.0,NaN,NaN,NaN,NaN,...,93750.0,874.0,False,NaN,NaN,80818.0,NaN,NaN,860136.0,1599641.0
BECK SALLY W,700000.0,NaN,NaN,NaN,sally.beck@enron.com,NaN,37172.0,4343.0,144.0,386.0,...,NaN,566.0,False,126027.0,NaN,231330.0,2639.0,7315.0,969068.0,126027.0
BELFER ROBERT,NaN,-102500.0,NaN,3285.0,NaN,3285.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,44093.0,NaN,NaN,NaN,102500.0,-44093.0
BERBERIAN DAVID,NaN,NaN,NaN,NaN,david.berberian@enron.com,1624396.0,11892.0,NaN,NaN,NaN,...,NaN,NaN,False,869220.0,NaN,216582.0,NaN,NaN,228474.0,2493616.0
BERGSIEKER RICHARD P,250000.0,NaN,-485813.0,NaN,rick.bergsieker@enron.com,NaN,59175.0,59.0,4.0,0.0,...,180250.0,427316.0,False,659249.0,NaN,187922.0,233.0,383.0,618850.0,659249.0
BHATNAGAR SANJAY,NaN,NaN,NaN,137864.0,sanjay.bhatnagar@enron.com,2604490.0,NaN,29.0,0.0,1.0,...,NaN,137864.0,False,-2604490.0,15456290.0,NaN,463.0,523.0,15456290.0,NaN
BIBI PHILIPPE A,1000000.0,NaN,NaN,NaN,philippe.bibi@enron.com,1465734.0,38559.0,40.0,23.0,8.0,...,369721.0,425688.0,False,378082.0,NaN,213625.0,1336.0,1607.0,2047593.0,1843816.0
BLACHMAN JEREMY M,850000.0,NaN,NaN,NaN,jeremy.blachman@enron.com,765313.0,84208.0,14.0,25.0,2.0,...,831809.0,272.0,False,189041.0,NaN,248546.0,2326.0,2475.0,2014835.0,954354.0
BLAKE JR. NORMAN P,NaN,NaN,-113784.0,113784.0,NaN,NaN,1279.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,1279.0,NaN
BOWEN JR RAYMOND M,1350000.0,NaN,-833.0,NaN,raymond.bowen@enron.com,NaN,65907.0,27.0,140.0,15.0,...,974293.0,1621.0,True,252055.0,NaN,278601.0,1593.0,1858.0,2669589.0,252055.0
BROWN MICHAEL,NaN,NaN,NaN,NaN,michael.brown@enron.com,NaN,49288.0,41.0,13.0,1.0,...,NaN,NaN,False,NaN,NaN,NaN,761.0,1486.0,49288.0,NaN
BUCHANAN HAROLD G,500000.0,NaN,NaN,NaN,john.buchanan@enron.com,825464.0,600.0,125.0,0.0,0.0,...,304805.0,1215.0,False,189041.0,NaN,248017.0,23.0,1088.0,1054637.0,1014505.0
BUTTS ROBERT H,750000.0,NaN,-75000.0,NaN,bob.butts@enron.com,NaN,9410.0,NaN,NaN,NaN,...,175000.0,150656.0,False,417619.0,NaN,261516.0,NaN,NaN,1271582.0,417619.0
CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,25.0,...,375304.0,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
CARTER REBECCA C,300000.0,NaN,-159792.0,NaN,rebecca.carter@enron.com,NaN,NaN,15.0,29.0,7.0,...,75000.0,540.0,False,307301.0,-307301.0,261809.0,196.0,312.0,477557.0,NaN
CAUSEY RICHARD A,1000000.0,NaN,-235000.0,NaN,richard.causey@enron.com,NaN,30674.0,49.0,58.0,12.0,...,350000.0,307895.0,True,2502063.0,NaN,415189.0,1585.0,1892.0,1868758.0,2502063.0
CHAN RONNIE,NaN,NaN,-98784.0,98784.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,32460.0,-32460.0,NaN,NaN,NaN,NaN,NaN
CHRISTODOULOU DIOMEDES,NaN,NaN,NaN,NaN,diomedes.christodoulou@enron.com,5127155.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,950730.0,NaN,NaN,NaN,NaN,NaN,6077885.0
CLINE KENNETH W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,662086.0,-472568.0,NaN,NaN,NaN,NaN,189518.0
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850.0,NaN,12.0,10.0,0.0,...,NaN,NaN,False,386335.0,NaN,NaN,58.0,764.0,NaN,1038185.0
COX DAVID,800000.0,NaN,-41250.0,NaN,chip.cox@enron.com,117551.0,27861.0,33.0,0.0,4.0,...,NaN,494.0,False,378082.0,NaN,314288.0,71.0,102.0,1101393.0,495633.0
CUMBERLAND MICHAEL S,325000.0,NaN,NaN,NaN,NaN,NaN,22344.0,NaN,NaN,NaN,...,275000.0,713.0,False,207940.0,NaN,184899.0,NaN,NaN,807956.0,207940.0
DEFFNER JOSEPH M,600000.0,NaN,NaN,NaN,joseph.deffner@enron.com,17378.0,41626.0,74.0,115.0,4.0,...,335349.0,25553.0,False,141833.0,NaN,206121.0,552.0,714.0,1208649.0,159211.0
DELAINEY DAVID W,3000000.0,NaN,NaN,NaN,david.delainey@enron.com,2291113.0,86174.0,3069.0,66.0,609.0,...,1294981.0,1661.0,True,1323148.0,NaN,365163.0,2097.0,3093.0,4747979.0,3614261.0
DERRICK JR. JAMES V,800000.0,NaN,-1284000.0,NaN,james.derrick@enron.com,8831913.0,51124.0,909.0,64.0,20.0,...,484000.0,7482.0,False,1787380.0,-1787380.0,492375.0,1401.0,2181.0,550981.0,8831913.0
DETMERING TIMOTHY J,425000.0,875307.0,-775241.0,NaN,timothy.detmering@enron.com,2027865.0,52255.0,NaN,NaN,NaN,...,415657.0,1105.0,False,315068.0,-315068.0,210500.0,NaN,NaN,1204583.0,2027865.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RICE KENNETH D,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,4.0,...,1617011.0,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
SAVAGE FRANK,NaN,NaN,-121284.0,125034.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,3750.0,NaN
SCRIMSHAW MATTHEW,NaN,NaN,NaN,NaN,matthew.scrimshaw@enron.com,759557.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,759557.0
SHANKMAN JEFFREY A,2000000.0,NaN,NaN,NaN,jeffrey.shankman@enron.com,1441898.0,178979.0,2681.0,94.0,83.0,...,554422.0,1191.0,False,630137.0,NaN,304110.0,1730.0,3221.0,3038702.0,2072035.0
SHAPIRO RICHARD S,650000.0,NaN,NaN,NaN,richard.shapiro@enron.com,607837.0,137767.0,1215.0,74.0,65.0,...,NaN,705.0,False,379164.0,NaN,269076.0,4527.0,15149.0,1057548.0,987001.0
SHELBY REX,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,14.0,...,NaN,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
SHERRICK JEFFREY B,NaN,NaN,NaN,NaN,jeffrey.sherrick@enron.com,1426469.0,NaN,25.0,39.0,18.0,...,NaN,NaN,False,405999.0,NaN,NaN,583.0,613.0,NaN,1832468.0
SHERRIFF JOHN R,1500000.0,NaN,NaN,NaN,john.sherriff@enron.com,1835558.0,NaN,92.0,28.0,23.0,...,554422.0,1852186.0,False,1293424.0,NaN,428780.0,2103.0,3187.0,4335388.0,3128982.0
SKILLING JEFFREY K,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,30.0,...,1920000.0,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
STABLER FRANK,500000.0,NaN,NaN,NaN,frank.stabler@enron.com,NaN,16514.0,NaN,NaN,NaN,...,NaN,356071.0,False,511734.0,NaN,239502.0,NaN,NaN,1112087.0,511734.0
SULLIVAN-SHAKLOVITZ COLLEEN,100000.0,181993.0,NaN,NaN,NaN,1362375.0,NaN,NaN,NaN,NaN,...,554422.0,162.0,False,NaN,NaN,162779.0,NaN,NaN,999356.0,1362375.0
SUNDE MARTIN,700000.0,NaN,NaN,NaN,marty.sunde@enron.com,NaN,NaN,38.0,37.0,13.0,...,476451.0,111122.0,False,698920.0,NaN,257486.0,2565.0,2647.0,1545059.0,698920.0
THE TRAVEL AGENCY IN THE PARK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,362096.0,False,NaN,NaN,NaN,NaN,NaN,362096.0,NaN
THORN TERENCE H,NaN,16586.0,NaN,NaN,terence.thorn@enron.com,4452476.0,46145.0,41.0,0.0,0.0,...,200000.0,426629.0,False,365320.0,NaN,222093.0,73.0,266.0,911453.0,4817796.0
TILNEY ELIZABETH A,300000.0,NaN,-575000.0,NaN,elizabeth.tilney@enron.com,591250.0,NaN,19.0,10.0,11.0,...,275000.0,152055.0,False,576792.0,NaN,247338.0,379.0,460.0,399393.0,1168042.0
TOTAL,97343619.0,32083396.0,-27992891.0,1398517.0,NaN,311764000.0,5235198.0,NaN,NaN,NaN,...,48521928.0,42667589.0,False,130322299.0,-7576788.0,26704229.0,NaN,NaN,309886585.0,434509511.0
UMANOFF ADAM S,788750.0,NaN,NaN,NaN,adam.umanoff@enron.com,NaN,53122.0,18.0,12.0,0.0,...,NaN,NaN,False,NaN,NaN,288589.0,41.0,111.0,1130461.0,NaN
URQUHART JOHN A,NaN,NaN,-36666.0,36666.0,NaN,NaN,228656.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,228656.0,NaN
WAKEHAM JOHN,NaN,NaN,NaN,109298.0,NaN,NaN,103773.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,213071.0,NaN
WALLS JR ROBERT H,850000.0,NaN,NaN,NaN,rob.walls@enron.com,4346544.0,50936.0,146.0,17.0,0.0,...,540751.0,2.0,False,1552453.0,NaN,357091.0,215.0,671.0,1798780.0,5898997.0
WALTERS GARETH W,NaN,53625.0,NaN,NaN,NaN,1030329.0,33785.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,87410.0,1030329.0
WESTFAHL RICHARD K,NaN,NaN,-10800.0,NaN,dick.westfahl@enron.com,NaN,51870.0,NaN,NaN,NaN,...,256191.0,401130.0,False,384930.0,NaN,63744.0,NaN,NaN,762135.0,384930.0
WHALEY DAVID A,NaN,NaN,NaN,NaN,NaN,98718.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,98718.0
WHALLEY LAWRENCE G,3000000.0,NaN,NaN,NaN,greg.whalley@enron.com,3282960.0,57838.0,556.0,186.0,24.0,...,808346.0,301026.0,False,2796177.0,NaN,510364.0,3920.0,6019.0,4677574.0,6079137.0
WHITE JR THOMAS E,450000.0,NaN,NaN,NaN,thomas.white@enron.com,1297049.0,81353.0,NaN,NaN,NaN,...,NaN,1085463.0,False,13847074.0,NaN,317543.0,NaN,NaN,1934359.0,15144123.0
WINOKUR JR. HERBERT S,NaN,NaN,-25000.0,108579.0,NaN,NaN,1413.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,84992.0,NaN
WODRASKA JOHN,NaN,NaN,NaN,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN,NaN,...,NaN,189583.0,False,NaN,NaN,NaN,NaN,NaN,189583.0,NaN
WROBEL BRUCE,NaN,NaN,NaN,NaN,NaN,139130.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,139130.0
YEAGER F SCOTT,NaN,NaN,NaN,NaN,scott.yeager@enron.com,8308552.0,53947.0,NaN,NaN,NaN,...,NaN,147950.0,True,3576206.0,NaN,158403.0,NaN,NaN,360300.0,11884758.0
YEAP SOON,NaN,NaN,NaN,NaN,NaN,192758.0,55097.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,55097.0,192758.0

In [16]:
df_enron = df_enron.fillna(0, axis=1)

df_enron.head(5)

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000.0,2869717.0,-3081055.0,0.0,phillip.allen@enron.com,1729541.0,13868.0,2195.0,47.0,65.0,...,304805.0,152.0,False,126027.0,-126027.0,201955.0,1407.0,2902.0,4484442.0,1729541.0
BADUM JAMES P,0.0,178980.0,0.0,0.0,0,257817.0,3486.0,0.0,0.0,0.0,...,0.0,0.0,False,0.0,0.0,0.0,0.0,0.0,182466.0,257817.0
BANNANTINE JAMES M,0.0,0.0,-5104.0,0.0,james.bannantine@enron.com,4046157.0,56301.0,29.0,39.0,0.0,...,0.0,864523.0,False,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0
BAXTER JOHN C,1200000.0,1295738.0,-1386055.0,0.0,0,6680544.0,11200.0,0.0,0.0,0.0,...,1586055.0,2660303.0,False,3942714.0,0.0,267102.0,0.0,0.0,5634343.0,10623258.0
BAY FRANKLIN R,400000.0,260455.0,-201641.0,0.0,frank.bay@enron.com,0.0,129142.0,0.0,0.0,0.0,...,0.0,69.0,False,145796.0,-82782.0,239671.0,0.0,0.0,827696.0,63014.0

In [17]:
sb.pairplot(df_enron, hue='poi')

In [18]:
df_enron.plot.scatter(x='salary', y='bonus', color='steelblue');

In [19]:
# Remove any outliers before proceeding further
- tex: # This line drops any 'Iris-setosa' rows with a separal width less than 2.5 cm
iris_data = iris_data.loc[(iris_data['class'] != 'Iris-setosa') | (iris_data['sepal_width_cm'] >= 2.5)]
iris_data.loc[iris_data['class'] == 'Iris-setosa', 'sepal_width_cm'].hist()

SyntaxError: invalid syntax (<ipython-input-19-01f2897ad72e>, line 2)

# Feature engineering

In [ ]:
- Do correlation
- Feature Selection
-

In [ ]:
features_list = ['poi','salary', 'bonus', 'total_stock_value', 'from_poi_to_this_person', 'from_this_person_to_poi'] 




maybe? = ["poi", "salary", "bonus", "fraction_from_poi_email", "fraction_to_poi_email", 'deferral_payments', 'total_payments', 'loan_advances', 'restricted_stock_deferred', 'deferred_income', 'total_stock_value']

# Classifiers

In [ ]:
To do:
- Feature importence
- Precision/recall
-

In [ ]:
df_enron = df_enron.drop([''], axis=1)

In [ ]:
# Create the classifier

#clf = DecisionTreeClassifier()
clf = RFC(n_estimators=10)
#clf = SVC(C=500)
clf

In [ ]:
feature_list = []

In [ ]:
X = df_enron[feature_list].values
Y = df_enron['poi'].values

In [ ]:
(training_inputs, testing_inputs, training_scores, testing_scores) = train_test_split(X, Y, test_size=0.75, random_state=43)

In [ ]:
clf.fit(training_inputs, training_scores);

In [ ]:
clf.score(testing_inputs, testing_scores)

# Validation

In [ ]:
# Dump the classifier, dataset and features_list so anyone can run/check your results
pickle.dump(clf, open("my_classifier.pkl", "w") )
pickle.dump(data_dict, open("my_dataset.pkl", "w") )
pickle.dump(features_list, open("my_feature_list.pkl", "w") )

In [ ]:
#!jupyter nbconvert --to script FinalProject_TheEnronFraud.ipynb